-gallery_images = ["club-sandwich", "papas", "hamburger", "panini", "club-sandwich", "papas"]
!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida en Restaurante Facilito
    %meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad"}
    %meta{content:"ie=edge", "http-equiv":"x-ua-compatible"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:"data-name" => "image-counter", content:"#{gallery_images.size}"}
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"css/glyphicons.css"}
    %link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %script{src:"js/vendor/modernizr-3.5.0.min.js"}
    %script{src:"js/vendor/jquery-3.2.1.min.js"}
    %script{src:"js/vendor/bootstrap.js"}
    %script{src:"js/vendor/popper.min.js"}
  %body
    ="<!--[if lte IE 9]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong>desactualizado. 
      Por favor 
      %a{href:"https://browsehappy.com/"}
      actualiza tu navegador para una mejor experiencia.</p>
    ="<![endif ]-->"
    .video-container
      %video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/videos/images/bbq.jpg"}
        %source{src:"/videos/mp4/bbq.mp4", type:"video/mp4"}
        %source{src:"/videos/webm/bbq.webm", type:"video/webm"}

    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"/images/logo.png", width:200}
          %h1.dancing-script.title.no-margin Restaurante Facilito
          %p#is-open
            %span.glyphicon.glyphicon-time
            %span.text Abierto ahora
      %nav.fixed.top.right.navigation.white-text#navigation
        -menu = ["Menú","Galería","Contacto","Cómo llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li.list-inline-item
              %a{href:'#'}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Atención cálida y comida preparada por artistas
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li.list-inline-item
                      %a{href:'#'}= item

    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.dancing-script.title Menú
      -menu_photos = [{title: "Club Sandwich", pricing: "10.00", image:"club-sandwich"},
                      {title: "Combo hamburguesa", pricing: "50.00",image:"combo"},
                      {title: "Hamburguesa", pricing: "20.00",image:"hamburger"},
                      {title: "Hot cakes", pricing: "30.00",image:"hot-cakes"},
                      {title: "Panini", pricing: "15.00",image:"panini"},
                      {title: "Papas", pricing: "10.00",image:"papas"},
                      {title: "Club Sandwich", pricing: "10.00",image:"club-sandwich"},
                      {title: "Hamburguesa", pricing: "20.00",image:"hamburger"}]
      .row
        -menu_photos.each do |photo|
          .col-lg-3.col-md-4.col-sm-6.col-xs-12.food{style:"background-image:url(/images/food/#{photo[:image]}-thumb.jpg)"}
            // %img{src:"/images/food/#{photo[:image]}-thumb.jpg"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle=photo[:title]
                  %p.no-margin="USD" + photo[:pricing]
    

    #gallery
      .inner
        -gallery_images.each do |image|
          .image{style:"background-image:url(/images/food/#{image}.jpg)"}
    
    .container
      .card.white.black-text-text-center.relative
        %h3.medium.slim
          En
          %strong.dancing-script.medium RestauranteFacilito
          cocinar no es una profesión, no es una técnica, es un
          %strong.dancing-script.medium arte
        %p.top-space
          Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
          %strong.dancing-script.medium - Coco - Chef

    %script{src:'https://code.jquery.com/jquery-3.3.1.js', 
      integrity:'sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', 
      crossorigin:'anonymous'}
    %script
      window.jQuery || document.write("<script src'/js/vendor/jquery-3.2.1.min.js'><\/script>")
    %script{src:"/js/main.js"}